bin/.pid
oh-my-zsh/cache
oh-my-zsh/custom
oh-my-zsh/lib
oh-my-zsh/log
oh-my-zsh/plugins
oh-my-zsh/templates
oh-my-zsh/themes
oh-my-zsh/tools
oh-my-zsh/LICENSE.txt
oh-my-zsh/oh-my-zsh.sh
oh-my-zsh/README.md
*/node_modules/
*/node_modules/*
env
.swp
