[submodule "eagle-diff"]
	path = eagle-diff
	url = https://github.com/fxkr/eagle-diff.git
[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh-async"]
	path = zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "tmuxinator"]
	path = tmuxinator
	url = https://github.com/tmuxinator/tmuxinator.git
[submodule "bin/rofi-pass"]
	path = bin/rofi-pass
	url = https://github.com/carnager/rofi-pass.git
