snippet cl "console.log"
console.log$0
endsnippet

snippet ce "console.error"
console.error$0
endsnippet

snippet req "commonjs require"
const $1 = require('$1')
endsnippet

snippet imp "es6 import"
import $1 from '$1'
endsnippet

snippet setStatePromise "implement this.setStatePromise"
setStatePromise = newState =>
	new Promise(resolve => this.setState(newState, resolve))
endsnippet
