snippet guard "__name__ guard"
if __name__ == '__main__':
	$1
endsnippet

snippet head "QuIN Header"
"""
$1

Developed by Marcel Robitaille on `date +%Y/%m/%d` Copyright © 2021 QuIN Lab
"""
endsnippet
