snippet guard "__name__ guard"
if __name__ == '__main__':
	$1
endsnippet

snippet head "QuIN Header"
"""
$1

Developed by Marcel Robitaille on `date +%Y/%m/%d` Copyright © 2021 QuIN Lab
"""
endsnippet

snippet pandas "Import pandas"
import pandas as pd
endsnippet

snippet numpy "Import numpy"
import numpy as np
endsnippet

snippet matplotlib "Import matplotlib"
import matplotlib.pyplot as plt
endsnippet

snippet seaborn "Import seaborn"
import seaborn as sns
endsnippet
