snippet columns "Two-column layout"
\begin{columns}
	\begin{column}{0.5\linewidth}
		$1
	\end{column}
	\begin{column}{0.5\linewidth}

	\end{column}
\end{columns}
endsnippet

snippet frame "Beamer frame"
\begin{frame}
	\frametitle{$1}
\end{frame}
endsnippet
