snippet columns "Two-column layout"
\begin{columns}
	\begin{column}{0.5\linewidth}
		${1:${VISUAL}}
	\end{column}
	\begin{column}{0.5\linewidth}
		$0
	\end{column}
\end{columns}
endsnippet

snippet frame "Beamer frame"
\begin{frame}
	\frametitle{$1}
\end{frame}
endsnippet

snippet pic "Include graphics"
\includegraphics[width=\linewidth]{$1}
endsnippet

snippet itemize "Itemize environment"
\begin{itemize}
	$0
\end{itemize}
endsnippet
