*/2 * * * * /home/marcel/.dotfiles/cron/hibernate-on-low-battery.sh
@hourly /home/marcel/.dotfiles/cron/journal-reminder.sh
*/15 * * * * [ $(du -k .xsession-errors | awk '{ print $1 }') -gt 5000000 ] && tail -10000 /home/$(whoami)/.xsession-errors > /home/$(whoami)/.xsession-errors
