[Unit]
Description= Open-source KVM software
After=graphical.target
OnFailure=notify@%i.service

[Service]
Type=simple
ExecStart=/usr/bin/barrier

Restart=on-failure
RestartSec=30s
StartLimitBurst=3

[Install]
WantedBy=default.target
