[Unit]
Description=Microsoft Exchange gateway
After=graphical.target
OnFailure=notify@%i.service

[Service]
Type=simple
ExecStart=/usr/bin/davmail

Restart=on-failure
RestartSec=30s
StartLimitBurst=3

[Install]
WantedBy=default.target
