[Unit]
Description=Lock the screen on resume from suspend

[Service]
User=marcel
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/gllock

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target
