[Unit]
Description=Maximize large windows
After=graphical.target
OnFailure=notify@%i.service

[Service]
Type=simple
ExecStart=%h/.local/bin/maximize_large_windows.sh

Restart=on-failure
RestartSec=30s
StartLimitBurst=3

[Install]
WantedBy=default.target
