[Unit]
Description=Media Control AppIndicator
After=graphical.target
OnFailure=notify@%i.service

[Service]
Type=simple
ExecStart=%h/code/media-control-indicator/venv/bin/python %h/code/media-control-indicator/media-control-indicator.py

Restart=on-failure
RestartSec=30s
StartLimitBurst=3

[Install]
WantedBy=default.target
