[Unit]
Description=Nextcloud client
After=graphical.target
OnFailure=notify@%i.service

[Service]
ExecStart=/usr/bin/nextcloud --background

Restart=on-failure
RestartSec=30s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
