[Unit]
Description=folder synchronization with OneDrive
After=graphical.target
OnFailure=notify@%i.service

[Service]
ExecStart=/usr/bin/onedrive --monitor

Restart=on-failure
RestartSec=30s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
