[Unit]
Description=Picom compositor
After=graphical.target
OnFailure=notify@%i.service

[Service]
ExecStart=/usr/bin/picom

Restart=on-failure
RestartSec=30s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
