[Unit]
Description=Port forward port 8080 from RAC2117A
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ssh -vvv -g -N -T -o "ServerAliveInterval 10" -o "ExitOnForwardFailure yes" -L 8081:localhost:8080 RAC2117A_t
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
