[Unit]
Description=lightweight panel/taskbar
After=graphical.target
OnFailure=notify@%i.service

[Service]
ExecStart=/usr/bin/tint2

Restart=on-failure
RestartSec=30s
StartLimitBurst=3

[Install]
WantedBy=default.target
