#include "$HOME/.themes/color_other/rofi.xres"

!
! URxvt
!

URxvt.font: xft:Source Code Pro:size=12
URxvt.scrollBar: false
URxvt.internalBorder: 20
URxvt.cursorUnderline: true
URxvt.cursorBlink: true

