
!
! URxvt
!

URxvt.font: xft:Source Code Pro:size=12
URxvt.scrollBar: false
URxvt.internalBorder: 20
URxvt.cursorUnderline: true
URxvt.cursorBlink: true


!
! Rofi


rofi.padding: 50
rofi.opacity: 95
rofi.color-enabled: true
rofi.color-normal: #12181e, #e3e2e1, #12181e, #b5b4b4, #e3e2e1
rofi.color-urgent: #12181e, #d6b48d, #22231D, #d6b48d, #e3e2e1
rofi.color-active: #12181e, #ADAC9F, #12181e, #ADAC9F, #12181e
rofi.color-window: #12181e, #b5b4b4, #7c7c7b

