:root {
  --chrome-background-color: #12181e !important;
  --tab-line-color: #325f93 !important;
  --toolbarbutton-icon-fill-attention: #CF5323 !important;
  --url-and-searchbar-background-color: #505050 !important;
}

#nav-bar,
.tabbrowser-tab[selected="true"] .tab-background {
  background-image: none !important;
  background-color: #333 !important;
}

